
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  color: #fff;
  background-color: #000;
}

html{
  overflow-x: hidden;
}

:root{
  --primary-bg: #09090B;
  --secondary-bg: #141319;
  --accent-bg: #17171C;
}
.sp-text{
  background: conic-gradient(at top,#FF00CC, #3333FF);
-webkit-background-clip: text;
background-clip: text;
color: transparent;
}

.icon{
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #0048ac;
  background-color: var(--accent-bg);
}